<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/22870672-4201-472c-9133-d6794ac6d0b2/resourceGroups/api20201229181042ResourceGroup/providers/Microsoft.Web/sites/wePartyDeploy</ResourceId>
    <ResourceGroup>api20201229181042ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/22870672-4201-472c-9133-d6794ac6d0b2/resourceGroups/api20201229181042ResourceGroup/providers/Microsoft.ApiManagement/service/we-party/apis/we-party</ApiResourceId>
    <OpenApiDocumentName>WeParty</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://wepartydeploy.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>b84a915a-bd8f-44cf-9934-139409a801dc</ProjectGuid>
    <MSDeployServiceURL>wepartydeploy.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>wePartyDeploy</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$wePartyDeploy</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>