<div class="content">
  <ion-title class="ion-text-left">
    <h1>Applications</h1>
  </ion-title>

  <div
    [@listAnimation]="applications"
    *ngIf="applications?.length > 0; else noDataTemplate"
  >
    <ion-card
      *ngFor="let application of applications"
      (click)="show(application)"
    >
      <ion-card-header>
        <ion-card-title>
          <ion-text class="ion-text-start">
            {{ application.party.title }}
          </ion-text>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-text>
          <p>{{ application.status }}</p>
        </ion-text>
        <ion-text>
          <p>{{ application.party.date | date: 'medium' }}</p>
        </ion-text>
      </ion-card-content>
    </ion-card>
    <ng-template #noDataTemplate>
      <ion-text class="ion-text-center">
        <h1>Nothing Found :(</h1>
      </ion-text>
    </ng-template>
  </div>

  <ng-template #noDataTemplate>
    <div class="ion-text-center">
      <ion-title>No Applications</ion-title>
    </div>
  </ng-template>
</div>
