<div class="content">
  <form [formGroup]="formGroup" (ngSubmit)="login(formGroup)">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="12" size-lg="12" size-xs="12">
          <div text-center>
            <h3 class="ion-margin">Login</h3>
          </div>
          <div padding class="ion-margin-top">
            <ion-item class="ion-margin-top ion-margin-bottom">
              <ion-input
                name="username"
                formControlName="username"
                type="text"
                placeholder="username or email"
                required
              ></ion-input>
            </ion-item>
            <ion-item class="ion-margin-top ion-margin-bottom">
              <ion-input
                name="password"
                formControlName="password"
                type="password"
                placeholder="Password"
                required
              ></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button
              color="primary"
              size="large"
              type="submit"
              [disabled]="formGroup.invalid"
              expand="block"
              >Login</ion-button
            >
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</div>
